
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/app.js"></script>
</head>
<body>
    <div class="container" ng-controller="CategoryCtrl">
        <div class="row justify-content-center" ng-show="istekVarMi">
            <div class="col">
                <h4>Veri yükleniyor...</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form name="ekleform">
                    <input type="hidden" ng-model="yeni.CategoryID"/>
                    <input type="text" class="form-control" ng-model="yeni.CategoryName" placeholder="Kategori Adı"/><br/>
                    <input type="text" class="form-control" ng-model="yeni.Description" placeholder="Açıklama"/><br/>
                    <input type="button" value="Ekle" class="btn btn-success" ng-click="ekle()" ng-show="!guncelleMi"/>

                    <input type="button" value="Güncelle" class="btn btn-info" ng-click="guncelle()" ng-show="guncelleMi"/>
                </form>
            </div>
        </div>
        <input type="search" placeholder="Ara.." class="form-control" ng-model="txtara"/>
        <div class="row">
            <div class="col">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Kategori Adı</th>
                            <th>Açıklama</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key,item) in categoryList | filter:txtara track by item.CategoryID">
                            <th scope="row">{{key+1}}</th>
                            <td>{{item.CategoryName}}</td>
                            <td>{{item.Description}}</td>
                            <td>
                                <input type="button" value="Sil" class="btn btn-danger" ng-click="sil(item.CategoryID)" />
                                <input type="button" value="Güncelle" class="btn btn-warning" ng-click="getir(item)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
