<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @RenderSection("head", required: false)
</head>
<body>
<h1>Admin layout</h1>
@RenderBody()
</body>
</html>
