
@{
    ViewBag.Title = "Products Index";
}

<br />
<br />
<br />
<div class="loading">
    <img src="~/img/loading.gif" width="100" height="100" class="img-circle" />
</div>
<div class="container blur">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" id="frmAdd">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtProductName" class="col-sm-4 control-label">Product Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="txtProductName" placeholder="Product Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cmbCategory" class="col-sm-4 control-label">Category Name</label>
                        <div class="col-sm-8">
                            <select id="cmbCategory" class="form-control">
                                <option value="1">a</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtUnitPrice" class="col-sm-4 control-label">Unit Price</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" min="0" max="9999" step=".01"
                                   id="txtUnitPrice" placeholder="Unit Price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtQuantityPerUnit" class="col-sm-4 control-label">Quantity Per Unit</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="txtQuantityPerUnit" placeholder="Quantity Per Unit">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="cbDiscontinued"> Discontinued
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-6">
                            <button type="submit" class="btn btn-info btn-block">Add Product</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
            <input type="search" id="txtsearch" class="form-control" />
        </div>
    </div>
    <br />
    <div class="row" id="resultdiv">
        <div class="col-md-12">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Category Name</th>
                        <th>Unit Price</th>
                        <th>Quantity Per Unit</th>
                        <th>Added Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="resultbody"></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <style>
        .loading {
            z-index: 100;
            position: fixed;
            top: 40%;
            left: 45%;
        }
    </style>
    <script>
        $(function () {
            $(".loading").hide();
            $(document).ajaxStart(function (ev) {
                //$(".blur").hide();
                $(".loading").show();
                $("#resultdiv").hide();
            });
            $(document).ajaxStop(function (ev) {
                $(".loading").hide();
                $("#resultdiv").show(100);
                //$(".blur").show(100);
            });
            $.ajaxQueue = [];
            var que = $.ajaxQueue;

            $.ajaxSetup({
                beforeSend: function(){
                    if (this.queue) {
                        que.push(this);
                    }
                    else {
                        return true;
                    }
                    if (que.length > 1) {
                        return false;
                    }
                },
                complete: function (e) {
                    console.log(e);
                    if (e.responseJSON.success) {
                        renderData(e.responseJSON.data);
                    } else {
                        alert(e.responseJSON.message);
                    }
                    que.shift();
                    var newReq = que[0];
                    if (newReq) {
                        // setup object creation should be automated
                        // and include all properties in queued AJAX request
                        // this version is just a demonstration.
                        var setup = {
                            url: newReq.url,
                            success: newReq.success
                        };
                       $.ajax(setup);
                    }
                }
            });

            function init() {
                $.ajax({
                    url: "@Url.Action("GetAllCategories","Product")",
                    method: "get",
                    dataType: "json"
                }).done(function(e) {
                    if (e.success) {
                        $('#cmbCategory').empty();
                        $('#cmbCategory')
                            .append($("<option></option>")
                                .attr("value",0)
                                .text("Kategorisi Yok"));
                        $.each(e.data, function(key, value) {
                            $('#cmbCategory')
                                .append($("<option></option>")
                                    .attr("value",value.CategoryID)
                                    .text(value.CategoryName));
                        });
                    }
                });
                $.ajax({
                    url: "@Url.Action("GetAllProducts","Product")",
                    method: "get",
                    dataType: "json"
                }).done(function(e) {
                    if (e.success) {
                        renderData(e.data);
                    }
                });
            }

            function renderData(data) {
                if (data && data.length == 0) {
                    $("#resultdiv").hide();
                    return;
                }
                $("#resultdiv").show(400);
                $("#resultbody").empty();
                $.each(data,
                    function(key, value) {
                        $("<tr></tr>")
                            .append($("<th></th>").text(key + 1))
                            .append($("<td></td>").text(value.ProductName))
                            .append($("<td></td>").text(value.CategoryName))
                            .append($("<td></td>").text(value.UnitPriceFormatted))
                            .append($("<td></td>").text(value.QuantityPerUnit))
                            .append($("<td></td>").text(value.AddedDateFormatted))
                            .append($("<td></td>").text("button"))
                            .appendTo($("#resultbody"));

                    });
            }

            $("#txtsearch").keyup(function () {
                $.ajax({
                    url: "@Url.Action("GetAllProducts","Product")" + "?key=" + $("#txtsearch").val(),
                    method: "get",
                    dataType: "json",
                    queue: true
                });
            });

            $("#frmAdd").submit(function(ev) {
                ev.preventDefault();
                var data = {
                    CategoryID: $("#cmbCategory option:selected").val(),
                    ProductName: $("#txtProductName").val(),
                    UnitPrice: $("#txtUnitPrice").val().replace(".",","),
                    QuantityPerUnit: $("#txtQuantityPerUnit").val(),
                    Discontinued: $("#cbDiscontinued").is(':checked')
                };
                console.log(data);
                $.ajax({
                    url: "@Url.Action("Add","Product")",
                    method: "post",
                    dataType: "json",
                    data:data
                }).done(function (e) {
                    console.log(e);
                    alert(e.message);
                    if (e.success) {
                        $("#frmAdd")[0].reset();
                        init();
                    }
                });
            });

            $("#cmbCategory").change(function() {
                var id= $(this).val();

                console.log($("#cmbCategory option:selected").val());
            });

            init();
        });

    </script>
}