@using Admin.Models.ViewModels

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var message = TempData["Model"] as ErrorViewModel;
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <!-- Error Titles -->
        <h1 class="display-4 m-b-0 text-green animated bounceIn">@(message?.ErrorCode ?? 404) </h1>
        <p class="m-b-lg">@(message?.Text ?? "Aradığınız sayfa bulunamadı")</p>
        <a href="@Url.Action(message?.ActionName??"Index",message?.ControllerName??"Home")" class="btn btn-info">Geri git</a>
        <!-- End Error Titles -->
        <!-- Search Form -->
        @*<form class="form-horizontal m-b-lg" action="frontend_400.html" method="post">
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="input-group input-group-lg">
                            <input class="form-control" type="text" placeholder="Search application...">
                            <div class="input-group-btn">
                                <button class="btn btn-default"><i class="ion-ios-search-strong"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>*@
        <!-- End Search Form -->
    </div>
</div>

