
@{
    ViewBag.Title = "Index";
}
<br/>
<br/>
<br/>
<div class="container">
    <div class="row" id="searchdiv">
        <div class="col-md-6 col-md-offset-3">
            <div class="col-lg-8">
                <div class="input-group  input-group-lg">
                    <input type="text" id="txtsearch" class="form-control" placeholder="Search for...">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
    </div>
</div>



@section scripts
{
    <script>
        $(function() {
            $("#txtsearch").keyup(function(e) {
                var key = $(this).val();
            });
        });
    </script>
}