
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="chart_div"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        $(function() {
            google.charts.load("current", {packages:['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                $.ajax({
                    /*
                     * 1) kategori satış grafiği
                     * 2) kategori bazli aylık satış grafiği
                     *
                     *
                     */
                
                }).done(function(e) {

                    var data = google.visualization.arrayToDataTable([
                        ["Element", "Density", { role: "style" } ],
                        ["Copper", 8.94, "#b87333"],
                        ["Silver", 10.49, "silver"],
                        ["Gold", 19.30, "gold"],
                        ["Platinum", 21.45, "color: #e5e4e2"]
                    ]);
                    var view = new google.visualization.DataView(data);
                    var options = {
                        title: "Density of Precious Metals, in g/cm^3",
                        width: 600,
                        height: 400,
                        bar: {groupWidth: "95%"},
                        legend: { position: "none" }
                    };
                    var chart = new google.visualization.ColumnChart(document.getElementById("chart_div"));
                    chart.draw(view, options);
                });
                
            }
        });
    </script>
}
